.page-footer {
  color: $color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px 0 40px 0;

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
      color: $color-blue;
      display: inline-block;
      margin: 0 5px;
    }
  }
}
